@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}


*{
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
  }
.name{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}
.hero-text{
  filter: blur(0px);
  opacity: 0;
  position: relative;
  bottom: -40px;
  
}
.hero-text.show{
  animation: blurbottom 1000ms forwards;
}
.about-header{
  filter: blur(0px);
  opacity: 0;
  position: relative;
  left: -70px;
}
.about-header.show{
  animation: blurleft 1000ms forwards;
}
.service-header{
  filter: blur(0px);
  opacity: 0;
  position: relative;
  bottom: 70px;
}
.service-header.show{
  animation: blurtop 1000ms forwards;
}
.about-img{
  opacity: 0;
}
.about-img.show{
  animation: fade 1500ms forwards;
}
.headertext{
  filter: blur(0px);
  opacity: 0;
  position: relative;
  bottom: 70px;
}
.headertext.show{
  animation: blurtop 1000ms forwards;
}
.bottomtext{
  filter: blur(0px);
  opacity: 0;
  position: relative;
  bottom: -40px;
}
.bottomtext.show{
  animation: blurbottom 1000ms forwards;
}
.servicebottom{
  filter: blur(0px);
  opacity: 0;
  position: relative;
  bottom: -40px;
}
.servicebottom.show{
  animation: blurbottom 1000ms forwards;
}
.s-card{
  filter: blur(0px);
  opacity: 0;
  position: relative;
  bottom: 70px;
}
.s-card.show{
  animation: blurtop 1000ms forwards;
}
/* download button */
.download-btn {
  height: 48px;
  width: 138px;
  cursor: pointer;
  background: white;
  border: none;
  background: var(--color-primary);
  border-radius: 4px;
  overflow: hidden;
}

.button-content {
  transform: translateY(-45px);
  transition: all 250ms ease-in-out;
}
  
/* animation */
@keyframes fade{
  0%{
      filter: blur(30px);
      opacity: 0;
  }
  100%{
      filter: blur(0px);
      opacity: 1;
  }
}
@keyframes blurtop {
  0%{
      filter: blur(30px);
      opacity: 0;
      bottom: 70px;
  }
  100%{
      filter: blur(0px);
      opacity: 1;
      bottom: 0;
  }
}
@keyframes blurbottom {
  0%{
      filter: blur(30px);
      opacity: 0;
      bottom: -40px;
  }
  100%{
      filter: blur(0px);
      opacity: 1;
      bottom: 0;
  }
}
@keyframes blurright {
  0%{
      filter: blur(30px);
      opacity: 0;
      right: -70px;
  }
  100%{
      filter: blur(0px);
      opacity: 1;
      right: 0;
  }
}
@keyframes blurleft {
  0%{
      filter: blur(40px);
      opacity: 0;
      left: -70px;
  }
  100%{
      filter: blur(0px);
      opacity: 1;
      left: 0;
  }
}
th {
  border-bottom: 1px solid #515151c7;
  text-align: left;
  padding: 8px;
}
td{
  text-align: left;
  padding: 8px;
}

/* .project-item{
  perspective: 1200px;
  transform: scale(0.646535) rotateX(14.1386deg);
} */

    @media (max-width: 768px){
      .nav-links{
          opacity: 1;
          display: none;
          flex-direction: column;
          position: fixed;
          border-radius: 0;
          top: 0;
          border: 0;
          right: 0;
          height: 100%;
          width: 250px;
          background-color: #1d1d1d ;
          padding-top: 60px;
          opacity: 0;
          z-index: 9;
      }
      .nav-links.show{
          display: flex;
          opacity: 1;
      }
      .nav-links a{
          padding: 15px;
          text-align: center;
          width: 100%;
          margin: 10px 0;
          color: white;
          display: block;
      }
    }
  